<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Register</h3>
    <form>
      <div class="form-group">
        <label for="registerUsername">Username</label>
        <input class="form-control" id="registerUsername" placeholder="Enter username" type="text">
      </div>
      <div class="form-group">
        <label for="registerPassword">Password</label>
        <input class="form-control" id="registerPassword" placeholder="Password" type="password">
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
</div>

