<nav class="navbar  navbar-expand-lg navbar-light bg-primary container">
  <div class="d-flex container">
    <a class="navbar-brand text-white navbar-text" routerLink="/">TO-DO</a>

    <button (click)="isCollapsed =!isCollapsed" [attr.aria-expanded]="!isCollapsed"
            aria-controls="myTogglerNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [collapse]="isCollapsed" [isAnimated]="true" class="collapse navbar-collapse" id="myTogglerNav">
      <div class="navbar-nav ml-auto">
        <a *ngIf="!auth.isAuthenticated"
           class="nav-item nav-link btn btn-primary text-white"
           routerLink="/auth/register"
           routerLinkActive="active-link">Register</a>
        <a *ngIf="!auth.isAuthenticated"
           class="nav-item nav-link btn btn-primary text-white"
           routerLink="/auth/login"
           routerLinkActive="active-link">Login</a>
        <button (click)="auth.logout()"
                *ngIf="auth.isAuthenticated"
                class="nav-item nav-link btn btn-primary text-white">Logout
        </button>
      </div>
    </div>
  </div>
</nav>

